:root {
    --base-gray-color: #515050;
    --base-orange-color: #FD6B38;
    --base-hover-color: rgba(253, 107, 56, 0.8);
    --base-active-color: rgba(253, 107, 56, 0.6);;
    --transition-duration: .3s;
}

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    font-size: 16px;
    font-family: "Roboto", serif;
    word-break: normal;
}

ul, ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */

.header {

}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 50px;
    height: 130px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: 70vw;
    max-width: 1300px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav__link {
    color: var(--base-gray-color);
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.nav__link:focus-visible {
    background-color: var(--base-orange-color);
    outline: none;
}

.nav__link:hover {
    color: var(--base-hover-color);
    text-decoration: underline;
}

.nav__link:active {
    color: var(--base-active-color);
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--base-orange-color);
    left: 5px;
    top: 18px;
    transition: transform var(--transition-duration), opacity var(--transition-duration), background-color var(--transition-duration);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(-10px);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

/* Media */

@media (max-width: 992px) {

    .logo-link {
        z-index: 1;
    }

    .header__burger-btn {
        display: block;
    }

    .nav {
        position: absolute;
        left: -500px;
        top: 0;
        background-color: var(--base-orange-color);
        padding: 120px 50px 20px 50px;
        width: 500px;
        transition: transform var(--transition-duration);
    }

    .nav__list {
        display: block;
    }

    .nav__link {
        color: white;
        font-size: 26px;
        padding: 15px 0;
    }

    .header.open .nav {
        transform: translateX(100%);
    }

    .header.open .logo__img {
        fill: white;
    }

}